@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
}

body{
    background-image: linear-gradient(#00BFFF,#F0FFFF);
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
}

main{
    position: absolute;
    width: 90%;
    height: 80%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 10%;
    border-radius: 15px;
    background-image: linear-gradient(#DC143C,#F5F5F5);
    box-shadow: -2px 4px 0 #DC143C, 2px -4px 0 #000;
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.columm, .stats, .carac{
    width: 32%;
    height: 97%;
    background-color: #F5F5F5;
    border: 2px solid #000;
    border-radius: 10px;
}

.columm{
    display: flex;
    background-color: transparent;
    flex-direction: column;
    border: none;
}

.ability, .moves{
    width: 100%;
    height: 50%;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #F5F5F5;
}

.name{
    position: absolute;
    padding-left: 2%;
    border-bottom: 2px solid #000;
    width: 30.4%;
    font-size: 2vw;
}

.habilidades{
    height: 80%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    gap: 1%;
}

.ataques{
    height: 80%;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1%;
    gap: 1%;
    overflow-y: scroll;
}

.ataques::-webkit-scrollbar{
    width: 15px;
}

.ataques::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #DC143C;
    border: 2px solid #000;
}

.habilidade{
   display: flex;
   justify-content: space-between;
}

.nome_habilidade, .tipo_habilidade{
    border: 2px solid #000;
    height: max-content;
    text-transform: capitalize;
    padding-left: 2%;
    font-size: 1.4vw;  
}

.nome_habilidade{
    width: 57%;
}

.tipo_habilidade{
    width: 40%;
}

.nome_ataque{
    border: 2px solid #000;
    width: 80%;
    font-size: 1.5vw;
    height: max-content;
    text-transform: capitalize;
    padding-left: 2%;
    border-radius: 5px;
}

.nome_habilidade::before, .nome_ataque::before{
    display: inline-block;
    content: "Nome: ";
    margin-right: 2%;
}

.tipo_habilidade::before{
    display: inline-block;
    content: "Tipo: ";
    margin-right: 1%;
}

.status{
    height: 80%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    gap: 1%;
}

.stat{
    display: flex;
    flex-direction: column;
    border-top: 2px solid #000;
}

.nome_stat{
    font-size: 1.5vw;
    padding-left: 2%;
}

.stat_bar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: white;
    border: 2px solid #000;
}

.hp{
    background-color: greenyellow;
    width: 0%;
    height: 27px;
    border-right: 2px solid #000;
    transition: width 1s;
}

.attack{
    background-color: #DC143C;
    width: 0%;
    height: 27px;
    border-right: 2px solid #000;
    transition: width 1s;
}

.defense{
    background-color: #00BFFF;
    width: 0%;
    height: 27px;
    border-right: 2px solid #000;
    transition: width 1s;
}

.special-attack{
    background-color: red;
    width: 0%;
    height: 27px;
    border-right: 2px solid #000;
    transition: width 1s;
}

.special-defense{
    background-color: steelblue;
    width: 0%;
    height: 27px;
    border-right: 2px solid #000;
    transition: width 1s;
}

.speed{
    background-color: skyblue;
    width: 0%;
    height: 27px;
    border-right: 2px solid #000;
    transition: width 1s;
}

.content{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    margin-top: 10%;
   
    align-items: center;
    justify-content: space-between;
}

.sprite{
    background-image: linear-gradient(white,#DEB887);
    width: 60%;
    height: 50%;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

#poke-gif2{
    display: none;
}

.sprite::before{
    display: inline-block;
    content: "Sprite do pokémon";
    width: max-content;
    margin-top: -7%;
    font-size: clamp(1.5vw, 1vw, 1rem);
}

.number-name{
    display: flex;
    width: 95%;
    font-size: clamp(1.4vw,1.5vw,1rem);
}

.numero{
    border: 2px solid #000;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 45%;
    padding-left: 2%;
}

.nome{
    border: 2px solid #000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 70%;
    padding-left: 5%;
    text-transform: capitalize;
}

.numero::before{
    display: inline-block;
    content: "Número:";
    margin-right: 3%;
}

.nome::before{
    display: inline-block;
    content: "Nome:";
    margin-right: 3%;
}

.types{
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 5%;
    font-size: clamp(1.4vw,1.5vw,1rem);
}

.type1, .type2{
    width: 40%;
    background-color: #00BFFF;
    height: max-content;
    border-radius: 10px;
    background-image: url(/icons/fairy.svg);
    background-repeat: no-repeat;
    background-position: 5%;
    background-size: 15%;
    padding-left: 12%;
    border: 2px solid #000;
    text-transform: capitalize;
}

.cry{
    padding: 1%;
    height: max-content;
    width: 60%;
    font-size: clamp(1.4vw,1.5vw,1rem);
    border-radius: 5px;
    text-align: left;
    background-image: url(/images/play_arrow_24dp_FILL0_wght400_GRAD0_opsz24.png), linear-gradient(#DC143C,#F5F5F5);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 10%;
    cursor: pointer;
}

.weight{
    font-size: clamp(1.4vw,1.5vw,1rem);
    border: 2px solid #000;
    width: 40%;
    padding-left: 2%;
}

.weight::before{
    display: inline-block;
    content: "Peso: ";
    margin-right: 3%;
}

.weight::after{
    display: inline-block;
    content: "Kg";
    margin-left: 3%;
}

.info{
    width: 100%;
    height: 6%;
    align-items: center;
    display: flex;
    gap: 1%;
    padding-left: 2%;

    top: 0;
    left: 0;
    position: absolute;
}

.imginfo{
    margin-top: 0.7%;
    width: 6%;
    height: 140%;
}

.textinfo{
    font-size: 3vw;
    cursor: default;
    text-transform: capitalize;
}

.textinfo::after{
    content: "";
    display: block;
    width: 78%;
    margin-top: -4%;
    height: 3px;
    background-color: #000;
    transition: width 0.5s;
}

.textinfo:hover::after{
    width: 45%;
}

@media only screen and (max-width: 750px){
    main{
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        list-style-type: none;
        overflow: scroll;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    main::-webkit-scrollbar{
        width: 15px;
    }
    
    main::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background: #DC143C;
        border: 2px solid #000;

    }
    .stats, .carac, .columm{
        width: 100%;
    }
    .type1, .type2{
        background-size: 10%;
    }
    .carac{
        padding-bottom: 10px;
    }
    .nome_habilidade, .tipo_habilidade, .nome_ataque, .nome_stat, .name, .sprite::before, .numero, .nome, .types, .cry, .weight{
        font-size: 3vw;
    }
}